
#imagen {
    width: 100%; height: 600px;
}

h1 {
    text-align: center;
}

p { 
    text-align: center;
} 

strong {
    color: purple
}

#missao {
    font-size: 18px;
}

#oferecer {
    font-size: 20px;
}

